.logo-img {
  width: 3rem;
  margin-right: 1rem;
}

.test-result-image {
  width: 30rem;
}

.status-image {
  width: 3rem;
}

.nav-item {
  margin: 0 2rem;
}

/* Generic styles */
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
